<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GoAgileContext" connectionString="metadata=res://*/GoAgileModel.csdl|res://*/GoAgileModel.ssdl|res://*/GoAgileModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IT-AHAMEDM-DELL\SQLEXPRESS;initial catalog=GoAgile;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>